! Base16 ShadeSmear Light
! Author: Kyle Giammarco (http://kyle.giammar.co)

! base00: #DBDBDB
! base01: #E4E4E4
! base02: #C0C0C0
! base03: #4E4E4E
! base04: #1C1C1C
! base05: #232323
! base06: #1C1C1C
! base07: #E4E4E4
! base08: #CC5450
! base09: #A64270
! base0A: #307878
! base0B: #71983B
! base0C: #C57D42
! base0D: #376388
! base0E: #D7AB54
! base0F: #6D6D6D

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #E4E4E4, #E4E4E4, #DBDBDB

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #E4E4E4, #232323, #E4E4E4, #E4E4E4, #E4E4E4
rofi.color-active:  #E4E4E4, #376388, #E4E4E4, #E4E4E4, #376388
rofi.color-urgent:  #E4E4E4, #CC5450, #E4E4E4, #E4E4E4, #CC5450

! Set the desired separator style
rofi.separator-style: solid
