! Base16 Still Alive
! Author: Derrick McKee (derrick.mckee@gmail.com)

! base00: #F0F0F0
! base01: #F0D848
! base02: #FFF018
! base03: #F01818
! base04: #F00000
! base05: #D80000
! base06: #489000
! base07: #30A860
! base08: #487830
! base09: #183048
! base0A: #426395
! base0B: #5C5C6A
! base0C: #2C3C57
! base0D: #001878
! base0E: #900000
! base0F: #140C0D

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #F0D848, #F0D848, #F0F0F0

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #F0D848, #D80000, #F0D848, #F0D848, #30A860
rofi.color-active:  #F0D848, #001878, #F0D848, #F0D848, #001878
rofi.color-urgent:  #F0D848, #487830, #F0D848, #F0D848, #487830

! Set the desired separator style
rofi.separator-style: solid
