! Base16 Tokyo Night Light
! Author: Michaël Ball

! base00: #D5D6DB
! base01: #CBCCD1
! base02: #DFE0E5
! base03: #9699A3
! base04: #4C505E
! base05: #343B59
! base06: #1A1B26
! base07: #1A1B26
! base08: #343B58
! base09: #965027
! base0A: #166775
! base0B: #485E30
! base0C: #3E6968
! base0D: #34548A
! base0E: #5A4A78
! base0F: #8C4351

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #CBCCD1, #CBCCD1, #D5D6DB

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #CBCCD1, #343B59, #CBCCD1, #CBCCD1, #1A1B26
rofi.color-active:  #CBCCD1, #34548A, #CBCCD1, #CBCCD1, #34548A
rofi.color-urgent:  #CBCCD1, #343B58, #CBCCD1, #CBCCD1, #343B58

! Set the desired separator style
rofi.separator-style: solid
