! Base16 Catppuccin
! Author: Pocco81 (https://github.com/pocco81)

! base00: #1E1E28
! base01: #1A1826
! base02: #302D41
! base03: #575268
! base04: #6E6C7C
! base05: #D7DAE0
! base06: #F5E0DC
! base07: #C9CBFF
! base08: #F28FAD
! base09: #F8BD96
! base0A: #FAE3B0
! base0B: #ABE9B3
! base0C: #B5E8E0
! base0D: #96CDFB
! base0E: #DDB6F2
! base0F: #F2CDCD

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1A1826, #1A1826, #1E1E28

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1A1826, #D7DAE0, #1A1826, #1A1826, #C9CBFF
rofi.color-active:  #1A1826, #96CDFB, #1A1826, #1A1826, #96CDFB
rofi.color-urgent:  #1A1826, #F28FAD, #1A1826, #1A1826, #F28FAD

! Set the desired separator style
rofi.separator-style: solid
