! Base16 Stella
! Author: Shrimpram

! base00: #2B213C
! base01: #362B48
! base02: #4D4160
! base03: #655978
! base04: #7F7192
! base05: #998BAD
! base06: #B4A5C8
! base07: #EBDCFF
! base08: #C79987
! base09: #8865C6
! base0A: #C7C691
! base0B: #ACC79B
! base0C: #9BC7BF
! base0D: #A5AAD4
! base0E: #C594FF
! base0F: #C7AB87

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #362B48, #362B48, #2B213C

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #362B48, #998BAD, #362B48, #362B48, #EBDCFF
rofi.color-active:  #362B48, #A5AAD4, #362B48, #362B48, #A5AAD4
rofi.color-urgent:  #362B48, #C79987, #362B48, #362B48, #C79987

! Set the desired separator style
rofi.separator-style: solid
