! Base16 Tokyo Night Terminal Light
! Author: Michaël Ball

! base00: #D5D6DB
! base01: #CBCCD1
! base02: #DFE0E5
! base03: #9699A3
! base04: #4C505E
! base05: #4C505E
! base06: #1A1B26
! base07: #1A1B26
! base08: #8C4351
! base09: #965027
! base0A: #8F5E15
! base0B: #33635C
! base0C: #0F4B6E
! base0D: #34548A
! base0E: #5A4A78
! base0F: #655259

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #CBCCD1, #CBCCD1, #D5D6DB

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #CBCCD1, #4C505E, #CBCCD1, #CBCCD1, #1A1B26
rofi.color-active:  #CBCCD1, #34548A, #CBCCD1, #CBCCD1, #34548A
rofi.color-urgent:  #CBCCD1, #8C4351, #CBCCD1, #CBCCD1, #8C4351

! Set the desired separator style
rofi.separator-style: solid
