! Base16 Kanagawa
! Author: Tommaso Laurenzi (https://github.com/rebelot)

! base00: #1F1F28
! base01: #16161D
! base02: #223249
! base03: #54546D
! base04: #727169
! base05: #DCD7BA
! base06: #C8C093
! base07: #717C7C
! base08: #C34043
! base09: #FFA066
! base0A: #C0A36E
! base0B: #76946A
! base0C: #6A9589
! base0D: #7E9CD8
! base0E: #957FB8
! base0F: #D27E99

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #16161D, #16161D, #1F1F28

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #16161D, #DCD7BA, #16161D, #16161D, #717C7C
rofi.color-active:  #16161D, #7E9CD8, #16161D, #16161D, #7E9CD8
rofi.color-urgent:  #16161D, #C34043, #16161D, #16161D, #C34043

! Set the desired separator style
rofi.separator-style: solid
