! Base16 Tokyo Night Terminal Storm
! Author: Michaël Ball

! base00: #24283B
! base01: #1A1B26
! base02: #343A52
! base03: #444B6A
! base04: #787C99
! base05: #787C99
! base06: #CBCCD1
! base07: #D5D6DB
! base08: #F7768E
! base09: #FF9E64
! base0A: #E0AF68
! base0B: #41A6B5
! base0C: #7DCFFF
! base0D: #7AA2F7
! base0E: #BB9AF7
! base0F: #D18616

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1A1B26, #1A1B26, #24283B

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1A1B26, #787C99, #1A1B26, #1A1B26, #D5D6DB
rofi.color-active:  #1A1B26, #7AA2F7, #1A1B26, #1A1B26, #7AA2F7
rofi.color-urgent:  #1A1B26, #F7768E, #1A1B26, #1A1B26, #F7768E

! Set the desired separator style
rofi.separator-style: solid
