! Base16 Catppuccin
! Author: Pocco81 (https://github.com/pocco81)

! base00: #1e1e28
! base01: #1a1826
! base02: #302d41
! base03: #575268
! base04: #6e6c7c
! base05: #d7dae0
! base06: #f5e0dc
! base07: #c9cbff
! base08: #f28fad
! base09: #f8bd96
! base0A: #fae3b0
! base0B: #abe9b3
! base0C: #b5e8e0
! base0D: #96cdfb
! base0E: #ddb6f2
! base0F: #f2cdcd

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1a1826, #1a1826, #1e1e28

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1a1826, #d7dae0, #1a1826, #1a1826, #c9cbff
rofi.color-active:  #1a1826, #96cdfb, #1a1826, #1a1826, #96cdfb
rofi.color-urgent:  #1a1826, #f28fad, #1a1826, #1a1826, #f28fad

! Set the desired separator style
rofi.separator-style: solid
