! Base16 better-contrast
! Author: Ben Mayoras

! base00: #182430
! base01: #243C54
! base02: #46290A
! base03: #616D78
! base04: #74AFE7
! base05: #C8E1F8
! base06: #DDEAF6
! base07: #8F98A0
! base08: #4CE587
! base09: #F6A85C
! base0A: #82AAFF
! base0B: #C3E88D
! base0C: #5FD1FF
! base0D: #82AAFF
! base0E: #FF84DD
! base0F: #BBD2E8

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #243C54, #243C54, #182430

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #243C54, #C8E1F8, #243C54, #243C54, #8F98A0
rofi.color-active:  #243C54, #82AAFF, #243C54, #243C54, #82AAFF
rofi.color-urgent:  #243C54, #4CE587, #243C54, #243C54, #4CE587

! Set the desired separator style
rofi.separator-style: solid
