! Base16 Tokyo City Light
! Author: Michaël Ball

! base00: #FBFBFD
! base01: #F6F6F8
! base02: #EDEFF6
! base03: #9699A3
! base04: #4c505e
! base05: #343B59
! base06: #1D252C
! base07: #171D23
! base08: #8C4351
! base09: #965027
! base0A: #4C505E
! base0B: #485E30
! base0C: #4C505E
! base0D: #34548a
! base0E: #5A4A78
! base0F: #5A4A78

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #F6F6F8, #F6F6F8, #FBFBFD

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #F6F6F8, #343B59, #F6F6F8, #F6F6F8, #171D23
rofi.color-active:  #F6F6F8, #34548a, #F6F6F8, #F6F6F8, #34548a
rofi.color-urgent:  #F6F6F8, #8C4351, #F6F6F8, #F6F6F8, #8C4351

! Set the desired separator style
rofi.separator-style: solid
