! Base16 Tokyo Night Dark
! Author: Michaël Ball

! base00: #1A1B26
! base01: #16161E
! base02: #2F3549
! base03: #444B6A
! base04: #787C99
! base05: #A9B1D6
! base06: #CBCCD1
! base07: #D5D6DB
! base08: #C0CAF5
! base09: #A9B1D6
! base0A: #0DB9D7
! base0B: #9ECE6A
! base0C: #B4F9F8
! base0D: #2AC3DE
! base0E: #BB9AF7
! base0F: #F7768E

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #16161E, #16161E, #1A1B26

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #16161E, #A9B1D6, #16161E, #16161E, #D5D6DB
rofi.color-active:  #16161E, #2AC3DE, #16161E, #16161E, #2AC3DE
rofi.color-urgent:  #16161E, #C0CAF5, #16161E, #16161E, #C0CAF5

! Set the desired separator style
rofi.separator-style: solid
